#a{float: left; height: 100px;width: 300px;}
.b{float: left;height: 100px;width:200px;text-align: center;font-size: 20px;margin-left: 40px;line-height: 80px;}
.c{float:left;height: 100px;width: 200px;text-align: center;font-size: 20px;margin-left: 40px;line-height: 80px;}
.d{float: left;height: 100px;width: 200px;text-align: center;font-size: 20px;margin-left: 40px;line-height: 80px;}
.e{float: left;height: 100px;width: 200px;text-align: center;font-size: 20px;margin-left: 40px;line-height: 80px;}
#a1{height: 800px;width: 1400px;float: left;}
.b1{height:500px;width:700px;float: left;margin-top: 30px;border-radius: 50px;margin-left: 10px;}
.b2{height: 500px;width: 600px;float: left;margin-top: 30px;margin-left: 80px;border-radius: 50px;}
#c{height: 300px;width: 1400px;background-color: cadetblue;float: left;margin-top: 50px;}
.c1{height: 300px;width:400px;background-color: violet;float: left;margin-left: 20px;}
.c2{height: 300px;width: 400px;background-color: thistle;float: left;margin-left: 40px;}
.c3{height: 300px;width: 400px;background-color: wheat;float: left;margin-left: 40px;}